[submodule "lib/OpenSeaSeis"]
	path = lib/OpenSeaSeis
	url = https://github.com/svs590/OpenSeaSeis.git
	branch = c_api
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
